<?xml version="1.0"?>
<launch>
    <node pkg="migrave_behaviour_manager" type="behaviour_manager" name="behaviour_manager" output="screen">
        <param name="action_config_path" type="str" value="$(find migrave_behaviour_manager)/config/actions.yaml" />
        <param name="action_topic" type="str" value="/robot_action" />
        <param name="affective_state_topic" type="str" value="/affective_state" />
    </node>
</launch>
